*{
	box-sizing:border-box;
}

html{
	font-family: Century Gothic, Verdana;
}
body{
	background-color: #F0EAE2;
}
header,footer{
	background-image: url(cegla.jpg);
	color:white;
	height:60px;
	text-align:center;
}
footer{
	clear:both;
}
nav{
	background-color: #824555;
	width:80%;
	height:60px;
	float:left;
}
aside{
	width:20%;
	height:560px;
	text-align:right;
	overflow: hidden;
	float:right;
}
aside img{
	width:100%;
}
#lewa, #srodek{
	width:40%;
	height:500px;
	overflow:auto;
	float:left;
}
h2{
	text-align:center;
}
a{
	color: #F0EAE2;
	padding: 100px;
	font-size: 180%;
}
a:hover{
	color: white;
}	

h1{
	text-shadow: 4px 4px 4px yellow;
	
}